.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .header-logo {
    width: 50%;
    height: auto;
    /* Otros estilos adicionales para la imagen */
  }
  
  .header-info {
    margin-left: 20px;
  }
  
  .header-title {
    margin-bottom: 10px;
  }
  
  .header-date {
    color: #888;
  }