.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .header-logo {
    width: 25%;
    height: auto;
  }
  
  .header-info {
    margin-left: 20px;
  }
  
  .header-title {
    margin-bottom: 10px;
  }
  
  .header-date {
    color: #888;
  }